/* mobile */

@media screen and ( max-width:370px) and ( max-height:660px) {
    
    body{
        background-color: chartreuse;  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
        margin: 0;
        padding: 0;
    }
    #title
    {
        text-align: center;
        font-size: 35px;
        color: #ff5e00;
        margin: 0;
        padding: 5px;
        box-shadow: #6ad500c7 0px 5px 80px;
    }
    #score{
        display: flex;
        justify-content: space-between;
    }
    #score h2
    {
        font-size: 35px;
        color: #0025d9;
        margin: 10px;
    }
    #main{
        display: grid;
        grid-template-columns: repeat(3,17vh);
        grid-template-rows: repeat(3,14vh);
        align-items: center;
        text-align: center;
        margin:10px 0px 0px 13px;
        position: relative;
    }
    #main h2
    {
        font-size: 60px;
        color: #ff5e00;
        margin: 0;
        padding: 10px;
        height: 71px;
    }
    .br
    {
        border: 1px solid #0016ff;
    }
    .br-top
    {
        border-top: none;
    }
    .br-left
    {
        border-left: none;
    }
    .br-bottom
    {
        border-bottom: none;
    }
    .br-right
    {
        border-right: none;
    }

    #main div
    {
        margin: 0;
        padding: 0  ;
    }
    
    #score span{
        color: #060606;
    }
    #text{
        text-align: center;
    }
    #text img{
        width: 0;
        transition: width 1s ease-in-out;
    }
    #btn{
        background: #7efc00;
        position: fixed;
        bottom: 0px;
        box-shadow: #274e00c7 0px 5px 80px;
        width: 100%;
        height: 42px;
        text-align: center;
    }
    #rbtn{
        width: 40%;
        height: 100%;
        background: transparent;
        border: 0;
        font-weight: 700;
        outline: none;
        color: #ff5e00;
        font-size: 25px;
        transition: 0.3s;
    }
    #rbtn:hover
    {
        box-shadow: inset #5ebd00 6px 6px 26px;
        border-radius: 10px;
    }
    #text h2{
        margin: 10px;
        padding: 0;
        color: #0025d9;
        font-size: 27px;
    }
    .line
    {
        width: 35vh;
        height: 8px;
        background-color: #0016ff;
        position: absolute;
        border-radius: 20px;
    }
}